*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.popupForm {
  
  display: none;
  
}
.popupForm2 {
  
  display: none;
  
}
.form_field{
  margin: 0 0 30px;
}
.popupForm_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 200px;
  z-index: 99;
  background-color: #00000073;
  height: 100vh;
  display: flex;
  align-items: center;
  
}
form{
    width: 100% !important;
    background-color: #fff;
    padding: 70px 60px 50px;
    border-radius: 0px;
    position: relative;
}
input{
    width: 100%;
    padding: 10px 20px;
    height: 50px;
    color: #000;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 0px;
    outline: none;
    font-family: "poppins_Regular";
}
input::placeholder{
  color: #444;
}
input:focus{
    outline: none;
}
.selectric {
  border: 1px solid #000 !important;
  border-radius: 0px;
  background: #fff !important;
  position: relative;
  overflow: hidden;
  padding: 5px 0;
  border-radius: 0px !important;

}
.selectric::before{
  content: "";
  position: absolute;
  background-image: url('./assets/down_arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  transition: all 0.4s;
}
.selectric-open .selectric::before{
  transform: translateY(-50%) rotate(180deg);
}
b.button{
  display: none !important;
}
.selectric-hover .selectric{
  background-color: #fff !important;
}
.selectric span{
  font-size: 18px !important;
  font-family: "poppins_Regular";
}
.selectric .label{
  margin: 0 !important;
  padding: 0 20px;
}
.selectric-scroll li{
  font-family: "poppins_Regular";
  font-size: 15px !important;
  color: #000 !important;
}

.button.submit {
  padding: 1em 2em;
  border: none;
  border-radius: 0px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #000;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #489FB5;
}

button.submit:hover {
  color: #ffffff;
  transform: scale(1.1);
  box-shadow: 4px 5px 17px -4px #489FB5;
}

button.submit::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #489FB5;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

button.submit:hover::before {
  width: 250%;
}
.form_field.btn{
  text-align: center;
}
.popupForm.show_popup{
  display: block;
}
.popupForm2.show_popup{
  display: block;
}
.close{
  position: absolute;
  top: 5px;
  right: 5px;
}
.close img{
  width: 30px;
  height: 30px;
  /* background-color: #868383; */
  border-radius: 5px;
  transition: all 0.4s;
  cursor: pointer;
}

@media(max-width:991px){
  .popupForm_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 100px
  }
}
@media(max-width:767px){
  .popupForm_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 30px
  }
}
@media(max-width:575px){
  form{
    padding: 70px 20px 50px;
}
}